<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h6><%= form.label :name %></h6>
    <%= form.select(:name, Activity::ACTIVITIES) %>
  </div>
  </br>

  <div class="field">
    <h6><%= form.label :duration %></h6>
    <%= form.select(:duration, Activity::DURATION) %>
  </div>
  </br>

  <div class="field">
    <h6><%= form.label :date %></h6>
    <%= form.date_field :date %>
  </div>
  </br>

  <div class="field">
    <h6><%= form.label :time %></h6>
    <%= form.time_field :time %>
  </div>
  </br>

  <div class="field">
    <h6><%= form.label :description, class: 'text-justify' %></h6>
    <%= form.text_area :description %>
  </div>
  </br>

  <div class="actions">
    <%= form.submit %>
  </div>
  </br>
<% end %>
